<div class="container mt-5">
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>mark@gmail.com</td>
        <td>@mdo</td>
        <td><a routerLink="../userview/Mark"><button class="btn btn-primary">View User</button></a></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>jacob@gmail.com</td>
        <td>1478</td>
        <td><a routerLink="../userview/Jacob"><button class="btn btn-primary">View User</button></a></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Harry</td>
        <td>harry@gmail.com</td>
        <td>1234</td>
        <td><a routerLink="../userview/Harry"><button class="btn btn-primary">View User</button></a></td>
      </tr>
    </tbody>
  </table>
</div>