<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Product Name</label>
                  <input type="text" class="form-control" id="exampleInputName1" aria-describedby="nameHelp" placeholder="Enter Product Name">
                  <label for="exampleInputEmail1">Model</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter model">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Enter New Price</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter New price">
                </div><br>
                <button type="submit" class="btn btn-primary">Edit Price</button>
              </form>
        </div>
    </div>
  </div>