<div class="container mt-5">
  <div class="row">
      <div class="col-6">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">id</th>
              <th scope="col">Product name</th>
              <th scope="col">Model</th>
              <th scope="col">Price</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Apple</td>
              <td>X</td>
              <td>70,000</td>
              <td><a routerLink="../productview/Apple"><button class="btn btn-primary">View Product</button></a></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Samsung</td>
              <td>s10</td>
              <td>30,000</td>
              <td><a routerLink="../productview/Samsung"><button class="btn btn-primary">View Product</button></a></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>LG</td>
              <td>Wing</td>
              <td>25,000</td>
              <td><a routerLink="../productview/Lg"><button class="btn btn-primary">View Product</button></a></td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>